!.gitignore
!.gitattributes
!README.md
!Arpeggio.ms.nwcuser.lua
!GuitarChord.ms.nwcuser.lua
!Ottavamatic.ms.nwcuser.lua
!Slur.ms.nwcuser.lua
!Tremolo.ms.nwcuser.lua
!TremoloSingle.ms.nwcuser.lua
!VerseNumbers.ms.nwcuser.lua
